/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body y fondo */
body {
  margin-top: 250px;   /* MISMO alto que el header */

    line-height: 1.6;
    background: linear-gradient(178deg, #690000, #440000);
}

/* Header */
header {
    border-bottom: #000000;
    text-align: center;
    padding: 50px 20px 30px 20px;
  background-color: #530000;
    color: #ff8888;
background: linear-gradient(84deg,  #690000, #000000);
    text-align: center;
    padding: 30px;
    background-color: #0a0a0a;
    color: #000000; 
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow:
      0 0 4px #ff0000,
      0 0 8px #ff000099;
          position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;        /* ajusta a tu header */
  background: linear-gradient(to bottom, #300000, #120000);

}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-size: 3rem;
  font-weight: 800;
  color: #ff8b8b;              /* casi blanco con tono rojo */
  letter-spacing: 2px;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.8),
    0 0 6px rgba(255, 0, 0, 0.5);
    
}

header p {
    font-size: 1.2rem;
     margin-top: 10px;
  color: #ff8a8a;
  font-size: 1rem;
  text-shadow: 0 1px 3px black;
}

/* Contenedor de proyectos */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    max-width: 1400px;
    margin: auto;
}

/* Tarjetas de proyectos */
.project-card {
    background: rgb(78, 0, 0);
    border-radius: 16px;
    text-decoration: none;
    color: #ff8b8b;
    overflow: hidden;
    box-shadow: 0 8px 60px rgb(255, 0, 0);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: top;
    color: #ff0000; 
    font-weight: bold;
    text-shadow:
      0 0 4px #000000,
      0 0 8px #00000099;
        background: linear-gradient(145deg, #2a0000, #4d0000);
  border-radius: 15px;
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.4);
  transition: 0.3s;
   color: #ff8b8b;
  font-size: 0.9rem;
height: 280px;
   width: 300px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 50px rgb(255, 0, 0);
  
}

.card-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.project-card h2 {
    padding: 15px 20px 5px 20px;
}

.project-card p {
    padding: 0 20px 20px 20px;
    color: #ff0000;
   
  


}


.value1{

 opacity: 0.8;
margin-left: 970px;





} 

.value2{

 opacity: 0.8;
margin-left: 90px;





} 


.icons {
  text-align: center;
  font-size: 2rem;
  opacity: 0.8;
}
